<html>
<head>
	<link href="css/3dlifestyle.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="overflow-hidden">
		<video class="mw-view-video" src="<%= src %>"></video>
	</div>
	<div class="controls">
		<a href="#" class="left"><div><</div></a>
		<a href="#" class="right"><div>></div></a>
	</div>
	<script src="js/3dlifestyle.min.js"></script>
</body>
</html>