<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="css/3dlifestyle.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="mw-view-3d images">
		<% for(var i=0;i<src.length;i++) { %>
			<div class="img"><img src="<%= src[i] %>" /></div>
		<% } %>
	</div>
	<div class="controls">
		<a href="#" class="left"><div><</div></a>
		<a href="#" class="right"><div>></div></a>
	</div>
	<script src="js/3dlifestyle.js"></script>
</body>
</html>
