body {
  background: #EEE;
}

.overflow-hidden {
	overflow: hidden;
}

.controls {
	display:none;
	text-align: center;
}
.controls .left, .controls .right {
	display: inline-block;
	padding: 20px;
	margin: 10px auto;
	background: #FFF;
}

.images {
	text-align: center;
}

.images .img {
	display:none ;
}

.images .img img {
	width: 100%;
}

.images .active {
	display: block;
}